export(launchApp)
importFrom(flowCore, read.flowSet)
importFrom(gridExtra, grid.arrange)
import(shiny)
import(shinydashboard)
import(shinyjs)
import(shinyFiles)
import(shinybusy)
importFrom(shinyjqui, orderInput)
import(DT)
import(FlowSoFine)
import(ggplot2)
import(vegan)
